
#admin html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Numans', serif;
  background: #fafafa !important;
}
#admin-header .navbar {
  border-radius: 10px;
  padding: 15px !important;
}

#admin .btn {
  padding: 5px 16px !important;
  letter-spacing: normal;
  text-transform: none;
}

#admin-header .navbar .btn-toggler {
  display: block;
}

.img-thumbnail {
  height: 100px !important;
}

.upload-file-btn {
  width: 100% !important;
  cursor: pointer;
}

.upload-file-btn:hover {
  border: 1px dotted #4e73df ;
}

.upload-panel {
  background: #e8e8e8;
}

.custom-input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  outline: none;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.custom-input-file + label {
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  border: 1px solid #E0E6ED;
  border-radius: 0.25rem;
  color: #8492A6;
  background-color: #FFF;
  outline: none;
  margin: 0;
}

.custom-input-file + label i {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.5em;
}

.custom-input-file + label:hover,
.custom-input-file.has-focus + label,
.custom-input-file:focus + label {
  background-color: #FFF;
}

.no-js .custom-input-file + label {
  display: none;
}



/* Drawer */

#drawer-wrapper {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  top: 0;
  left: 0 ;
  width: 100%;
  height: 100vh;
  position: fixed;
  color: #fff;
  z-index: 200;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-animation: forwards 0.5s;
  animation: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.5s ease;
}
.drawer {
  background-color: #fff;
  top: 0;
  height: 100%;
  width: 35%;
  right: -100%;
  position: fixed;
  z-index: 200;
  border-radius: 4px 0 0 4px;
  animation: slide-open 0.7s forwards;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@keyframes slide-open {
  100% { right: 0;}
}

.form-unactive {
  right: 0;
  animation: slide-close 0.6s forwards;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@keyframes slide-close {
  100% {right: -100%;}
}

.drawer-header {
  display: block;
  padding: 16px 24px;
  border-bottom: 1px solid #e8e8e8;
}
.drawer-title {
  display: inline;
  font-weight: 600;
  position: relative;
}
.drawer-close {
  display: block;
  position: relative;
  float: right;
}
.drawer-body {
  padding: 24px
}
.drawer-body .form-group {
  margin: 0 0 10px;
}
.drawer-body label {
  font-size: 12px;
}
.drawer-body .form-group .form-control {
  font-size: 14px;
  height: 30px;
  padding: 4px 8px;
}

.show-help-enter,
.show-help-appear {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.show-help-leave {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.show-help-enter.show-help-enter-active,
.show-help-appear.show-help-appear-active {
  -webkit-animation-name: antShowHelpIn;
          animation-name: antShowHelpIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.show-help-leave.show-help-leave-active {
  -webkit-animation-name: antShowHelpOut;
          animation-name: antShowHelpOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  pointer-events: none;
}
.show-help-enter,
.show-help-appear {
  opacity: 0;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.show-help-leave {
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (max-width: 992px) {
  .drawer {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .drawer {
    width: 70%;
  }
}