html, body {
  padding: 0;
  margin: 0;
  background: #fff !important;
  color: #6c757d !important;
  font-family: "Rubik" ,arial , sans-serif;
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Playfair Display", times, serif;
  margin-bottom: .5rem !important;
}
p{
  margin-top: 0;
  margin-bottom: 1rem;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
#public-header {
  padding: 0px;
  margin: 0px;
  background-color: transparent !important;
}
#public-header nav {
  align-items: center !important;
  background-color: transparent !important;
  /* padding: .8rem 4rem .8rem 4rem !important; */
}

#public-header nav .nav-item {
  padding: 0 5px;
  align-items: center !important;
  line-height: 32px;
}
#public-header nav .nav-link {
  font-size: 16px !important;
  font-weight: 400;
}
#home-banner {
  position: relative;
}

#book-bar {
  /* position: absolute; */
  transform: translateY(-50%);
  right:30px;
  left: auto !important;
  width: 100%;
}
.btn {
  padding: 12px 30px !important;
  letter-spacing: .15em;
  text-transform: uppercase;
  border-radius: 0;
}
.banner-bg-img {
  width: 100%;
  height: 100%;
}
.banner-bg-img img {
  width: 100%;
  height: 650px;
  filter: brightness(70%);
}
.banner-bg-img .carousel-caption {
  top: 250px;
  
}
.banner-bg-img .carousel-caption h1{
  font-size: 38px;
  font-weight: 500;
  color: #fff !important;
}
.banner-bg-img .carousel-caption h4 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 25px;
  color: #fff !important;
}
.banner-bg-img .carousel-caption button {
  padding: 8px;
  font-size: 22px !important;
  width: 200px;
}
.padding {
  padding: 7rem 0;
}
.rooms-entry .room-name { 
  color: #b99365;
}
.rooms-entry .entry-body {
  padding: 30px;
  border: 1px solid #e6e6e6;
  border-top: none;
}
.rooms-entry .entry-body ul {
  margin: 0;
  padding: 0;
}
.rooms-entry .entry-body .room-specs li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 20px 20px 0;
}
.rooms-entry .entry-body .room-specs li i{
  font-size: 20px;
  /* position: relative; */
  margin-right: 10px;
}
.rooms-entry .btn-sm {
  font-size: 12px !important;
}
.rooms-entry figure {
  position: relative;
  float: left;
  overflow: hidden;
}
.rooms-entry figure:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .5;
  content: '';
}
.rooms-entry figure .overlap-text {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  bottom: 20px;
  left: 20px;
  z-index: 99;
}
.btn-primary {
  background: #b99365 !important;
  color: #fff !important;
  border: 2px solid #b99365 !important;
}

.btn-primary:hover {
  background: transparent !important;
  border: 2px solid #b99365;
  color: #b99365 !important;
}

#public-video-section {
  width: 100%;
  height: 500px !important;
  background: url('../images/img_5.jpg') no-repeat center fixed ;
  background-size: cover;
  /* filter: brightness(70%); 
  position: relative; */
}

/* #public-video-section:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .5;
  content: '';
} */
#public-video-section .caption {
  z-index: -99 !important;
  color:#fff;
  filter: none !important;
}
#public-video-section .heading {
  color:#fff;
}
.subscribe .form-group {
  position: relative;
}

.subscribe button {
  border: none;
  background: none;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.section-title {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #ccc;
}
.blog-card .blog-entry-body {
  padding: 30px;
  border: 1px solid #e6e6e6;
  border-top: none;
  background: #fff;
}

.blog-card .blog-entry-body .blog-category {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .2em;
  color: #ccc;
}
#book-bar .btn {
  padding: 0 !important;
  letter-spacing: 0;
  text-transform: uppercase;
}

.blog-card .blog-entry-body .blog-category:after {
  content: '';
  left: 0;
  width: 50px;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0;
}
.blog-card .blog-entry-body h3 {
  color: #b99365;
  transition: all .3s ease;
  font-size:24px;
}
.blog-card .blog-entry-body h2 Link {
  text-decoration: none;
  transition: .3s all ease;
}
.blog-card .blog-entry-body .btn-primary {
  background-color: #b99365;
  border-color: #b99365;
}
.blog-card .blog-entry-body .btn-outline-primary {
  border-width: 2px;
  color: #b99365;
  border-color: #b99365;
  background-color: transparent;
}
.blog-card .blog-entry-body .btn:hover {
  background: #b99365;
  color: #fff;
}
#public-footer {
  background: #f2f2f2;
  padding: 5em 0;
  font-size: 16px;
}
#public-footer h3 {
  margin-bottom: 20px !important;
  font-size: 13px;
  letter-spacing: .2em;
  color: #b3b3b3;
  text-transform: uppercase;
}
#public-footer p {
  color: #000;
}
#public-footer a {
  color: #000;
}

